Using ToDump, MarkIPCE Element and Routing Packets

Hi,
I'd like to ask this in mailing list but #284 says the mailing list is down.

I want to use Click and add some feature in it. I added an element to modify the packets' header and use that element in my configuration file. The element using agnostic ports. Lets say my element's class name that is exported is MyElement.
To check whether MyElement successfully changes the packet,  in the configuration file, after a packet enters MyElement, I route the packet to ToDump element. I run the configuration file with userlevel click and in sniffer mode.
When I open the dump file created by ToDump element, all the packets there is not changed somehow. I follow step by step how to change packet's header like in the MarkIPCE element, but no luck.
When I change the configuration file and replace MyElement with MarkIPCE(FORCE true), ECN CE bit is also not changed in the dump file.
Any idea how to solve this? Or any possibilities that my configuration is wrong? Thanks.

Here is my configuration.
```
FromDevice(wlan0)
	-> c :: Classifier(12/0806 20/0001,
	                  	12/0806 20/0002,
						12/0800,
						-);

out :: Queue(1024) -> ToDevice(wlan0);

c[0]
	-> ARPResponder(7.0.0.1 00:C0:95:E1:FC:D6)
	-> out;

c[1]
	-> out;

c[2]
	-> CheckIPHeader2(14)
	-> MarkIPHeader()
	-> MarkIPCE(FORCE true)
        -> MyElement()
	-> IPPrint()
	-> ToDump(dump)
	-> out;

c[3]
	-> Discard;
```

There are a couple of things wrong here:

1) You need to specify the offset in MarkIPHeader where the IP Header begins, typically 14
2) You do not need to use both CheckIPHeader and MarkIPHeader. CheckIPHeader already sets the ip header annotation, so you should actually remove MarkIPHeader from the config.
3) I just had a look at the code of MarkIPCE, and there is a bug in the code. This is wrong:
`    WritablePacket *q = p->uniqueify();
    if (!(q = p->uniqueify()))
	return 0;`
It should be:
`    WritablePacket *q;
    if (!(q = p->uniqueify()))
	return 0;`

Once you call p->uniqueify() then p should not be used again.



Thanks. I have checked it and the MarkIPCE goes smoothly.But MyElement doesn't.
I am going to change reserved field in IP packets in MyElement. I read about IP header's behavior and find that the reserved field in RFC 791 is set to 0 and must be unchanged. But in RFC 4413 (https://www.ietf.org/rfc/rfc4413.txt), reserved field can be changed.
In RFC 4413 section 2.2.1., reserved field is known as changing, but <click/ip.h> uses RFC 791 and RFC 3168.
I don't know if this is the case why MyElement is not working, but is there any possibilty to change this behavior?

Easiest would be to post your element's relevant code here.

This is my code.
```

#include <click/config.h>
#include "myelement.hh"
#include <clicknet/ip.h>
#include <click/args.hh>
#include <click/error.hh>
CLICK_DECLS

MyElement::MyElement()
{
	count = 0;
	lfsr = 0xACE1u;
}

MyElement::~MyElement()
{
}

Packet*
MyElement::simple_action(Packet *p){
	assert(p->has_network_header());

    WritablePacket *q;
    if (!(q = p->uniqueify()))
	return 0;

    click_ip *q_iph = q->ip_header();	
    uint16_t old_hw = *(uint16_t *) q_iph;

    q_iph->ip_off |= IP_RF;
	
	int index = is_member(q_iph->ip_src.s_addr);
	if(index == -1){
		add_member(q_iph->ip_src.s_addr);
		index = count-1;
	}	
    // rand the r from 0 to 128 - 1
    int r = randomizer()%128;
	int i = (r % 8);
	int j = (r % 16);
	q_iph->ip_id = ((uint16_t) (mark_v[index].ip_addr >> (4 * i)) << 12) | ((uint16_t) i << 8) | ((uint16_t) mark_v[index].digest[(j * 2)]);
	
    click_update_in_cksum(&q_iph->ip_sum, old_hw, *(uint16_t *) q_iph);

    return q;
}

int
MarkIPFDPM::is_member(uint32_t ip_src){
	bool found = false;
	int index = -1;
	if(count>0){
		int i=0;
		while(!found && i<count){
			found = mark_v[i].ip_addr == ip_src;
			i++;
		}
		if(found){index=i-1;}
	}
	return index;
}

void
MarkIPFDPM::add_member(uint32_t ip_src){
	initialize_mark(ip_src, &(mark_v[count]));
	count++;
}
unsigned
MarkIPFDPM::randomizer(){
	bit = ((lfsr >> 0) ^ (lfsr >> 2) ^ (lfsr >> 3) ^ (lfsr ^5)) & 1;
	return lfsr = (lfsr >> 1) | (bit << 15);
}

CLICK_ENDDECLS
EXPORT_ELEMENT(MyElement)
ELEMENT_PROVIDES(MyElement)
```

I think your checksum update is wrong. `click_update_in_cksum` See description on https://github.com/kohler/click/blob/5399eabf704f041c9cd8fc5d932c1e77bc9526de/include/clicknet/ip.h#L176

The old half word and new half word in your case should point to ip_off I believe.

It's the same. The reserved field won't get updated.
I changed the checksum update to 
```
    unsigned short old_hw = *(reinterpret_cast<unsigned short*>(q_iph) + 3);
    q_iph->ip_off |= IP_RF;
    click_update_in_cksum(&q_iph->ip_sum, old_hw, *(reinterpret_cast<unsigned short*>(q_iph) + 3));
```